<div class="row">
  <div class="col-xs-12">
    <img [src]="recipeToDisplay.imagePath" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
  <h1> {{ recipeToDisplay.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group"
    appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a style="cursor: pointer" (click)="toShoppingList(recipeToDisplay.ingredients)">To Shopping List</a></li>
      <li><a style="cursor: pointer" routerLink="edit">Edit Recipe</a></li>
      <li><a style="cursor: pointer">Delete Recipe</a></li>
    </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 ">
    {{ recipeToDisplay.description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group" *ngFor="let ingredient of recipeToDisplay.ingredients">
      <li class="list-group-item"> {{ ingredient.name }}: {{ ingredient.amount }}</li>
  </ul>
</div>
