<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
<!--  <p appBasicHighlight>Please style me!</p>-->
<!--  <p appBetterHighlight>Please style me!</p>-->
</div>
